@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 1px solid lightgrey;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: rgb( 27, 24, 24);
}
* {
  box-sizing: border-box;
  /* border: 1px solid lightgrey; */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #0B0C10;
}

main {
  padding: 0 5%; 
}
/* NAVIGATION STYLING */
.mobile-nav, .mobile-button {
  display: none;
}
header {
  background-color: #0B0C10;
}
header .logo {
  padding-left: 4%;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  background-color: transparent;
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3% 1%;
}
nav ul{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
nav div {
  width: 30%;
}
nav ul li {
  padding-right: 3%;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  padding-top: .5%;
  font-weight: 5500;
}
nav ul li:hover {
  color: #66FCF1;
  cursor: pointer;
}

/* HERO SECTION STYLING */

.hero {
  text-align: center;
  padding: 2%;
  height: 25vh;
}
.hero .container {
  margin-bottom: 1%;
  margin-top: 1%;
}
.hero h1 {
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  padding: 1%;
  padding-bottom: 2%;
  font-size: 2.5rem;
}
.hero nav {
  padding-top: 2%;
}
.hero a {
  background-color: #66FCF1;
  border: none;
  border-radius: 10px;
  color: black;
  padding: .75% 2%;
  font-size: 1.75rem;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.hero a:hover {
  opacity: 1;
}

/* MAIN SECTION STYLING */

.section-title {
  text-align: center;
  font-weight: bold;
}

/* MISSION SECTION */

.mission-container {
  display: flex;
}
.mission-statement .section-title {
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  padding: .5%;
  font-size: 2.5rem;
  padding-top: 2%;
}
.mission-container p {
  color: white;
  font-size: 2rem;
}
.mission-container div {
  display: flex;
  justify-content: center;
}
.mission-container p, .mission-container div {
  width: 50%;
}

/* FEATURES SECTION */
.features-container {
  display: flex;
}

.img-name-container {
  display: flex;
}

.img-name-container img {
  width: 30%;
}

.img-name-container p {
  width: 70%;
}

/* FOOTER STYLES */
footer {
  text-align: center;
}


/* MOBILE STLYING */

@media(max-width: 592px) {
  .mobile-button {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
  .features-container {
    flex-direction: column;
    justify-content: center;
  }
}